<div class="card mb-3" style="max-width: 1080px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/img/opengraph_image_default-581151e556.png" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">Vitajte v Kkaufland-Poprad</h3>
        <p class="card-text">V zložke tovar na sklade si môžete pozrieť aktuálne stav tovarov meniť jednotlivé položky mazať a v zložke pridať tovar môžte pridávať nové tovary.</p>
        <p class="card-text">Táto webová aplikácia znázorňuje distribuovaný databázový systém pre podnik s viacerými pobočkami.</p>
        <p class="card-text"><small class="text-muted"><br><br><br>Odkazy na centrálu a jednotlivé pobočky
        </small></p>
        <a href="https://kkaufland-centrala.herokuapp.com/" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Centrála</a>
        <a href="#" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Pezinok </a>
        <a href="#" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Košice </a>
      </div>
    </div>
  </div>
</div>